{% load static %}
{% include 'admin/components/header.html' %}
  {% include 'admin/components/sidebar.html' %}
  <style type="text/css">
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 38px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
  </style>
  <section class="section">
      <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css">
      <script src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>

      <div class="section-header">
        <h1>Kelola FAQ</h1>
      </div>
      <button onClick="buttonTambah()" type="button" class="btn btn-primary">Tambah FAQ</button>
      <div class='mt-4'>
        <div class="card shadow-lg">
          <div class="card-header text-center">
            <h2 class="fw-bold text-center d-flex flex-column align-items-center mt-4">FAQ List</h2>
          </div>
          <div class="card-body">
            <table id="faq" class="display">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pertanyaan</th>
                        <th>Jawaban</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbodyfaq">
                </tbody>
            </table>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function(){
          fetch('{% url "getFAQ" %}')
          .then(response => response.json())
          .then(data => {
            const tbody = document.getElementById("tbodyfaq");
            tbody.innerHTML = '';
            let autoIncrement = 1;
            data.forEach(menu =>{
              const row = document.createElement('tr');
              const noCell = document.createElement('td');
              noCell.textContent += autoIncrement;
              row.appendChild(noCell);
              autoIncrement++;

              const pertanyaanCell = document.createElement('td');
              pertanyaanCell.textContent = menu.pertanyaan;
              row.appendChild(pertanyaanCell);

              const jawabanCell = document.createElement('td');
              jawabanCell.textContent = menu.jawaban;
              row.appendChild(jawabanCell);

              const actionCell = document.createElement('td');
              actionCell.innerHTML = `
                <button onClick='modalEdit(${menu.id},"${menu.pertanyaan}","${menu.jawaban}")' class="btn btn-xs btn-success">Edit</button>
                <button onClick='modalDelete(${menu.id})' class="btn btn-xs btn-danger">Delete</button>

              `
              row.appendChild(actionCell);
              tbody.appendChild(row);
            });
            $('#faq').DataTable();
          });
        });
      </script>

      <div id="modalTambah" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="titleModal"></h3>
                <span class="close" style="cursor: pointer;">&times;</span>
              </div>
              <div class="modal-body">
                <form method="POST" action="{% url 'FAQ' %}">
                  {% csrf_token %}
                    <div class="mb-1">
                      <input type="hidden" id='id_' name="id" value="">
                      {{ form.as_p }}
                      <input type="hidden" id='id_action' name="action" value="">
                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" id="submit_"></button>
                    </div>
                </form>
          </div>
        </div>
      </div>

      <div id="modalHapus" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Delete FAQ</h3>
              <span class="close" style="cursor: pointer;">&times;</span>
            </div>
            <div class="modal-body">
              <p id='text-delete' class="text-center"></p>
            </div>
            <form method="POST" action="{% url 'FAQ' %}">
              {% csrf_token %}
              <input type="hidden" id='id_del' name="id" value="">
              <input type="hidden" id='id_action' name="action" value="Hapus">
              <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="submit_">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        function buttonTambah(){
          document.getElementById('id_').value = '';
          document.getElementById('id_pertanyaan').value = '';
          document.getElementById('id_jawaban').value = '';
          document.getElementById('id_action').value = 'Tambah';

          const btnSubmit = document.getElementById('submit_');
          btnSubmit.textContent = "Save";
          btnSubmit.value = "SAVE";

          const btnClose = document.getElementsByClassName('close')[0];
          const modalTambah = document.getElementById('modalTambah');
          modalTambah.style.display = "block";

          const titleModal = document.getElementById('titleModal');
          titleModal.textContent = "Tambah FAQ";
      
          btnClose.onclick = function(){
            modalTambah.style.display = "none";
          }
        }

        function modalEdit(id, pertanyaan, jawaban){
          document.getElementById('id_').value = id;
          document.getElementById('id_pertanyaan').value = pertanyaan;
          document.getElementById('id_jawaban').value = jawaban;
          document.getElementById('id_action').value = 'Edit';

          const btnSubmit = document.getElementById('submit_');
          btnSubmit.textContent = "Update";
          btnSubmit.value = "UPDATE";

          const btnClose = document.getElementsByClassName("close")[0];
          const modalEdit = document.getElementById("modalTambah");
          modalEdit.style.display = "block";

          const titleModal = document.getElementById("titleModal");
          titleModal.textContent = "Edit FAQ";

          btnClose.onclick = function(){
            modalEdit.style.display = "none";
          }
        }

        function modalDelete(id){
          document.getElementById('id_del').value = id;
          const text_delete = document.getElementById("text-delete");
          
          const btnClose = document.getElementsByClassName("close")[1];
          const modalDelete = document.getElementById("modalHapus");
          modalDelete.style.display = "block";
          text_delete.textContent = "Apakah Anda Ingin Menghapus Record FAQ";

          btnClose.onclick = function(){
            modalDelete.style.display = "none";
          }
        }
      </script>

{% include 'admin/components/footer.html' %}