{% load static %}
    <style type="text/css">
      .messages{
        margin-top: 20px;
        width: 15%;
        margin: 0 42.5% 0 42.5%;
      }
    </style>
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger text-center">
              {{ message }}
            </div>
            {% else %}
            <div class="alert alert-success text-center">
              {{ message }}
            </div>
            {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    </div>
    <footer class="main-footer">
      <div class="footer-left" id=copyright>
        
      </div>
      <div class="footer-right">
      </div>
    </footer>
    <script type="text/javascript">
      const tahun = new Date().getFullYear();
      const copyright = document.getElementById('copyright')
      copyright.textContent = "Copyright \u00A9 Testing "+tahun;
    </script>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="{% static 'js/stisla.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>